<h1 class="font-bold text-2xl mb-12">Users</h1>

<% flash.each do |type, msg| %>
  <div class="mb-6 w-max
    bg-red-100 border border-red-500 text-red-700 px-4 py-3 rounded
    relative" role="alert">
    <%= msg %>
  </div>
<% end %>

<table class="w-4/5 border-separate border-spacing-2">
  <tr>
    <th>id</th>
    <th>email</th>
    <th>admin?</th>
    <th>post articles?</th>
    <th>date user added</th>
    <th>       </th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td class="text-center text-blue-700 hover:text-lg hover:scale-125">
      <%= link_to user.id, user_path(user.id) %>
    </td>
    <td class="text-center text-blue-700 hover:text-lg hover:scale-125">
      <%= link_to user.email, user_path(user.id) %>
    </td>
    <td class="text-center" data-controller="auto-submit">
      <%= form_with model: user do |form| %>
        <%= form.check_box :admin,
          data: { action: 'click->auto-submit#click'}%>
        <%= form.submit '', class: 'hidden',
          data: { auto_submit_target: 'submit' }%>
      <% end %>
    </td>
    <td class="text-center" data-controller="auto-submit">
      <%= form_with model: user do |form| %>
        <%= form.check_box :poster,
          data: { action: 'click->auto-submit#click'} %>
        <%= form.submit '', class: 'hidden',
          data: { auto_submit_target: 'submit' } %>
      <% end %>
    </td>
    <td class="text-center">
      <%= user.created_at.strftime("%Y-%m-%d") %>
    </td>
    <td class="text-center p-2
      text-white rounded-2xl border-2 bg-red-400
      hover:bg-blue-1000
      w-32 text-center">
      <%= button_to "Delete User", user_path(user), method: :delete,
        data: { turbo_method: :delete,
                turbo_confirm: "Are you sure? This action cannot be undone" } %>
    </td>
  </tr>
  <% end %>

</table>