<h1 class="font-bold text-2xl mb-12">Users</h1>

<% flash.each do |type, msg| %>
  <% if type == "alert" %>
    <div class="mb-6 w-max
      bg-red-100 border border-red-500 text-red-700 px-4 py-3 rounded
      relative" role="alert">
      <%= msg %>
    </div>
  <% else %>
    <div class="mb-6 w-max
      bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 rounded
      relative" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<% unless @users.pending?.empty? %>
 <div data-controller="hide">
    <div class="flex flex-col justify-start">
    <span id="pending-users-count"
      class="italic bg-red-100 border border-red-500 text-red-700 px-3 py-3 rounded w-max">
      <%= render partial: 'users/pending_users_count', locals: { users: @users.pending? } %>
    </span>
    <button type="button" data-action="click->hide#show" data-hide-target="btn"
        class="mb-12 p-2
        text-white rounded-2xl border-2 border-black
        bg-blue-500 hover:bg-blue-600 active:bg-blue-700
        focus:outline-white focus:ring focus:ring-violet-300
        w-max text-center self-start mt-6">
      Show Pending Users
    </button>
  </div>
  <table class="pending-users w-4/5 border-separate border-spacing-2 hidden" data-hide-target="element">
    <caption class="text-left underline text-lg pl-6 font-bold">Users Pending Approval</caption>
    <thead class="">
    <tr>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">id</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">email</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">admin?</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">post articles?</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">event organizer?</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">date user added</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
 <tbody id="pending_users">
  <%= render partial: 'users/pending_user', collection: @users.pending?, as: :user %>
 </tbody>
  </table>
 </div>
<% end %>


<table class="approved-users w-4/5 border-separate border-spacing-2 mt-12">
  <caption class="text-left underline text-lg pl-6 font-bold">Approved Users</caption>
  <thead>
  <tr>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">id</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">email</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">admin?</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">post articles?</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">event organizer?</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">date user added</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody id='approved_users'>
    <%= render partial: 'users/approved_user', collection: @users.approved?, as: :user %>
  </tbody>
</table>