<div class="simple-calendar w-max h-auto p-6 text-xl">
  <div class="calendar-heading text-3xl">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title font-bold">
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time>
    <nav class="text-xl text-blue-400 flex flex-row justify-between mt-4 mb-4">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view,
        class: 'calendar-nav-btn active:text-blue-600'%>
      <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view,
        class: 'calendar-nav-btn active:text-blue-600' %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view,
        class: 'calendar-nav-btn active:text-blue-600'%>
    </nav>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <% date_range.slice(0, 7).each do |day| %>
        <th class="px-4 py-3 border border-gray-700"><%= t('date.abbr_day_names')[day.wday] %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <% events = calendar.sorted_events_for(day) %>
          <%= content_tag :td, class: "relative p-4 border border-gray-700 bg-slate-200 #{calendar.td_classes_for(day)}
            #{'bg-slate-50' if day.month == start_date.month}
            #{'bg-stone-200' if day.day.to_i % 2 == 0 && day.month == start_date.month}",
            style: "height: 120px; width: 120px; word-wrap: break-word;" do %>
            <div class="absolute top-0 left-0 p-2 text-sm font-medium">
              <%= day.day %>
            </div>
            <div class="pt-2 space-y-2 overflow-hidden">
              <% events.each do |event| %>
                <div class="text-sm leading-tight line-clamp-2
                  text text-blue-400 calendar-nav-btn active:text-blue-600">
                  <%= link_to event.name, event %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
