<div>
  <h1 class="font-bold text-4xl">Activity Dashboard</h1>

  <table class="w-4/5 border-separate border-spacing-2 mt-6 divide-y divide-gray-200">
    <caption>Activity Table</caption>
    <thead>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">User</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Post_id</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Action</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Time</th>
    </thead>
    <tbody>
      <% @activities.each do |a|  %>
        <tr>
          <td class="text-center border border-gray-200"><%= a.user.email %></td>
          <td class="text-center border border-gray-200 text-blue-700 hover:font-bold active:blue-300 border border-gray-200 pl-3 pr-3">
            <% if a.action== 'deleted' %>
              <span class="text-red-500">Post Deleted</span>
            <% else %>
              <% if a.post.present? %>
                <%= link_to a.post.title, a.post %>
              <% else %>
                <span class="text-gray-500">Post no longer exists</span>
              <% end %>
            <% end%>
            </td>
          <td class="text-center border border-gray-200"><%= a.action %></td>
          <td class="text-center border border-gray-200"><%= a.readable_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <table class="w-4/5 border-separate border-spacing-2 mt-6 divide-y divide-gray-200">
      <caption>User Table</caption>
      <thead>
        <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">User</th>
        <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Sign In Count</th>
        <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Current Sign In</th>
        <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Last Sign In</th>
        <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Current Sign In IP</th>
        <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Last Sign In IP</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
             <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">
              <%= user.email %>
            </td>
             <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">
              <%= user.sign_in_count %>
            </td>
             <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">
              <%= user.current_sign_in_at&.strftime('%Y-%m-%d %H:%M') %>
            </td>
             <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">
              <%= user.last_sign_in_at&.strftime('%Y-%m-%d %H:%M') %>
            </td>
             <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">
              <%= user.current_sign_in_ip %>
            </td>
             <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">
              <%= user.last_sign_in_ip %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>

</div>
