<h1 class="font-bold text-2xl mb-12">SP Group Executives</h1>

<div class="grid grid-cols-3 gap-4 justify-center">
  <% @executives.order(:first_name).each do |executive| %>
    <ul class="bg-gray-50 w-72 p-6 pl-8 border rounded">
      <li class="text-blue-700 hover:text-lg hover:scale-125">
        <span class="font-bold"> <%= link_to executive.full_name, member_path(executive) %></span>
      </li>
      <li>
        <%= image_tag 'missing-profile.png', size: '100x100' %>
      </li>
      <li>
        <span class="italic">Position:</span>
        <span class="font-bold"><%= executive.executive.role %></span>
      </li>
      <li>
        <span class="italic">Classification: </span>
        <span class="font-bold"><%= executive.classification.name %></span>
      </li>
      <li>
        <span class="italic">Department:</span>
        <span class="font-bold"><%= executive.department.name %></span>
      </li>
    </ul>
  <% end %></div>
