<!DOCTYPE html>
<html>
  <head>
    <title>GroupPage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex flex-col">
      <nav class="bg-group-blue w-auto h-24 flex flex-row">
        <div class="mr-32 p-4" >
          <%= image_tag "group-logo.png", alt: "group logo", size:"50x50", loading: "lazy"  %>
        </div>

        <ul class="flex flex-row gap-3 text-white justify-center pt-8">
          <li class="text-inherit">Event Calendar</li>
          <li class="text-inherit">Stewards</li>
          <li class="text-inherit">Subgroups</li>
          <li class="text-inherit">Bargaining Team</li>
        </ul>
      </nav>
      <nav>
        <div></div>
      </nav>
      <%= yield %>
    </main>
  </body>
</html>
