<!DOCTYPE html>
<html>
  <head>
    <title>GroupPage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex flex-col">
      <nav class="bg-group-blue w-auto h-24 flex flex-row justify-between">
        <div class="mr-32 p-4" >
          <%= link_to (image_tag "group-logo.png", alt: "group logo", size:"50x50", loading: "lazy"), root_path  %>
        </div>

        <ul class="flex flex-row gap-5 text-white justify-center pt-8">
          <% if user_signed_in? && current_user.admin? %>
            <li class="text-inherit hover:scale-125">
              <%= link_to "User List", users_path  %>
            </li>
          <% end %>

          <li class="text-inherit hover:scale-125">
            <%= link_to "Event Calendar", events_path %>
          </li>
          <li class="text-inherit hover:scale-125">
            <% if user_signed_in? && current_user.admin %>
            <%= link_to 'Member List', members_path %>
              <% else %>
              <%= link_to "Stewards", members_path %>
            <% end %>
          </li>
          <li class="text-inherit hover:scale-125">Bargaining Team</li>
          <li class="text-inherit hover:scale-125">
            <%= link_to 'Subgroups', subgroups_path %>
          </li>
        </ul>

        <ul class="flex flex-row gap-3 text-white justify-center pt-8 mr-12">
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Edit User', edit_user_registration_path %>
            </li>
            <li class="hover:scale-125 text-inherit">
              <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="hover:scale-125 text-inherit">
              <%= link_to "Log In", new_user_session_path %>
            </li>
          <% end %>
        <% unless user_signed_in? %>
          <li class="hover:scale-125 text-inherit">
              <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %>
        </ul>
      </nav>

      <div class="pl-6 mt-12"><%= yield %></div>
    </main>
  </body>
</html>
