<div class="pl-6 w-4/5">
  <%= form_with model: member do |form| %>

  <div>
    <%= form.label :first_name, "First Name:" %>
    <%= form.text_field :first_name %>
  </div>

    <div>
      <%= form.label :last_name, "Last Name:" %>
      <%= form.text_field :last_name %>
    </div>

    <div>
      <%= form.label :email, "Email:" %>
      <%= form.text_field :email %>
    </div>

    <div>
      <%= form.label :phone_number, "Phone Number:" %>
      <%= form.text_field :phone_number %>
    </div>

    <div class="field">
      <%= form.label :region_id, 'Region' %>
      <%= form.collection_select :region_id, Region.all, :id, :region, prompt: 'Select your region' %>
    </div>

    <div>
      <%= form.label :department_id, "Department" %>
      <%= form.collection_select :department_id, Department.all, :id, :department, prompt: 'Select your department' %>
    </div>

    <div>
      <%= form.label :classification_id, "Classification" %>
      <%= form.collection_select :classification_id, Classification.all, :id, :classification,
        prompt: 'Select your classification' %>
    </div>

    <div>
      <%= form.label :subgroup_id, "Subgroup" %>
      <%= form.collection_select :subgroup_id, Subgroup.all, :id, :subgroup %>
    </div>

    <div>
      <%= form.label :steward, "Steward?:" %>
      <%= form.check_box :steward %>
    </div>

    <div class="field">
      <%= form.label :position_id, 'Role' %>
      <%= form.collection_select :position_id, Position.all, :id, :role, prompt: 'Select a role' %>
    </div>

    <div>
      <%= form.submit %>
    </div>

  <% end %>
</div>