<h1 class="font-bold text-2xl mb-12">Steward List</h1>

<% flash.each do |type, msg| %>
  <% if type == "alert" %>
    <div class="mb-6 w-max
      bg-red-100 border border-red-500 text-red-700 px-4 py-3 rounded
      relative" role="alert">
      <%= msg %>
    </div>
  <% else %>
    <div class="mb-6 w-max
      bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 rounded
      relative" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>

  <% if user_signed_in? && current_user.admin? %>
    <div class="mb-12 p-2
        text-white rounded-2xl border-2 border-black
        bg-blue-500 hover:bg-blue-600 active:bg-blue-700
        focus:outline-white focus:ring focus:ring-violet-300
        w-max text-center self-start mt-6">
      <%= link_to "New Member", new_member_path %>
    </div>
  <% end %>

<div data-controller="hide">
  <button type="button" data-action="click->hide#show" data-hide-target="btn"
  class="mb-12 p-2
          text-white rounded-2xl border-2 border-black
          bg-blue-500 hover:bg-blue-600 active:bg-blue-700
          focus:outline-white focus:ring focus:ring-violet-300
          w-max text-center self-start">Show Filters</button>
  <div class="flex filters retract" data-hide-target="element">
    <div>
      <%= form_with url: members_path, method: :get, local: true do |f| %>
        <div class="mb-4 flex justify-start gap-16 items-center">
          <%= f.label :region_id, 'Region' %>
          <%= f.select :region_id, options_for_select([['All Regions', '']] + Region.pluck(:name, :id),
                                                      selected: params[:region_id]) %>
        </div>

        <div class="mb-4 flex justify-start gap-6 items-center">
          <%= f.label :department_id, 'Department' %>
          <%= f.select :department_id, options_for_select([['All Departments', '']] + Department.pluck(:name, :id),
                                                          selected: params[:department_id]) %>
        </div>

        <div class="mb-4 flex justify-start gap-3 items-center">
          <%= f.label :classification_id, 'Classification' %>
          <%= f.select :classification_id,
                       options_for_select([['All Classifications', '']] + Classification.pluck(:name, :id),
                                          selected: params[:classification_id]) %>
        </div>

        <div class="mb-4 flex justify-start gap-10 items-center">
          <%= f.label :subgroup_id, 'Subgroup' %>
          <%= f.select :subgroup_id,
                       options_for_select([['All Subgroups', '']] + Subgroup.pluck(:name, :id),
                                          selected: params[:subgroup_id]) %>
        </div>


        <div class="text-center p-2
        text-white rounded-2xl border-2 bg-blue-600
        hover:bg-blue-500 active:bg-blue-900
        w-32 text-center">
          <%= f.submit 'Filter' %>
        </div>
      <% end %>
    </div>

    <div class="Reset Filters self-end">
      <%= form_with url: members_path, method: :get, local: true do |f| %>
        <div class="hidden">
          <%= f.select :region_id, '' %>
        </div>

        <div class="hidden">
          <%= f.select :department_id, '' %>
        </div>

        <div class="hidden">
          <%= f.select :classification_id, '' %>
        </div>

        <div class="hidden">
          <%= f.select :subgroup_id, '' %>
        </div>
        <div class="text-center p-2
        text-white rounded-2xl border-2 bg-blue-600
        hover:bg-blue-500 active:bg-blue-900
        w-32 text-center">
          <%= f.submit 'Reset Filter' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<table class="w-4/5 border-separate border-spacing-2 mt-6 divide-y divide-gray-200">
  <thead>
  <tr>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Name</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Email</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Phone Number</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Region</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Department</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Classification</th>
    <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Subgroup</th>
    <% if user_signed_in? && current_user.admin? %>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Executive Position?</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Bargaining Team?</th>
      <th class="text-gray-500 tracking-wider border border-gray-200 bg-gray-50">Steward?</th>
    <% end %>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <% @members.each do |member| %>
    <tr>
      <td class="text-center text-blue-700 hover:font-bold active:blue-300 border border-gray-200 pl-3 pr-3">
        <%= link_to member.full_name, member_path(member) %>
      </td>
      <td class="text-center text-blue-700 hover:font-bold active:blue-300 border border-gray-200 pl-3 pr-3">
        <%= link_to member.email, member_path(member)%>
      </td>
      <td class="text-center border border-gray-200">
        <%= member.phone_number %>
      </td>
      <td class="text-center border border-gray-200">
        <%= member.region.name %>
      </td>
      <td class="text-center border border-gray-200">
        <%= member.department.name %>
      </td>
      <td class="text-center border border-gray-200">
        <%= member.classification.name %>
      </td>
      <td class="text-center border border-gray-200">
        <% unless member.subgroup.nil? %>
          <%= member.subgroup.name %>
        <% end %>
      </td>
      <% if user_signed_in? && current_user.admin? %>
      <td class="text-center border border-gray-200">
          <% if member.executive_id? %>
            <%= member.executive.role %>
          <% end %>
        </td>
        <td class="text-center border border-gray-200">
          <% if member.bargaining? %>
            Yes
          <% end %>
        </td>


      <td class="text-center border border-gray-200">
        <% if member.steward? %>
          Steward
          <% else %>
        Non-steward
        <% end %>
      </td>
  <td class="text-center p-2
        text-white rounded-2xl border-2 bg-red-400
        hover:bg-red-300 active:bg-red-600
        w-32 text-center">
          <%= button_to "Delete Member", member_path(member), method: :delete,
                        data: { turbo_method: :delete,
                                turbo_confirm: "Are you sure? This action cannot be undone" } %>
        </td>
        <td class="text-center p-2
        text-white rounded-2xl border-2 bg-blue-600
        hover:bg-blue-500 active:bg-blue-900
        w-32 text-center">
          <%= link_to "Edit Member", edit_member_path(member) %>
        </td>
<% end %>
    </tr>
  <% end %>
</table>
