<% member = @member %>
<h1 class="mb-12 text-2xl font-bold"><%= member.full_name %>'s details</h1>

<ul class="flex flex-col gap-4">
  <li class="font-bold"><%= member.full_name %></li>
  <li><% unless member.email.nil? %>
    <span class="font-bold">Email: </span> <%= member.email %>
  <% end %>
  </li>
  <li><% unless member.phone_number.nil? %>
    <span class="font-bold">Phone number:</span> <%= member.phone_number %>
  <% end %>
  </li>
  <li><% unless member.region.nil? %>
    <span class="font-bold">Region:</span> <%= member.region.name %>
  <% end %>
  </li>
  <li><% unless member.department.nil? %>
    <span class="font-bold">Department:</span> <%= member.department.name %>
  <% end %>
  </li>
  <li><% unless member.classification.nil? %>
    <span class="font-bold">Classification:</span> <%= member.classification.name %>
  <% end %>
  </li>
  <li><% unless member.subgroup.nil? %>
      <span class="font-bold">Subgroup:</span> <%= member.subgroup.name %>
  <% end %>
  </li>
  <li><span class="font-bold">
    Steward:</span>
    <% if member.steward? %>
      Yes
    <% else %>
      No
    <% end %>
  </li>
</ul>